<div>
  {{error}}
  <h2>{{username}}</h2>
  <select ng-model="repoSortOrder">
    <option value="+name"> Name</option>
    <option value="-stargazers_count">Stars</option>
    <option value="+language">Language</option>
  </select>
</div>
<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Stars</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="course in courses | orderBy:repoSortOrder">
      <td>{{course.name}}</td>
      <td>{{course.stars}}</td>
      <td>{{course.language}}</td>
      <tr>
  </tbody>
</table>
<a href="#/main">Back to search</a>
